In [5]:
import pandas as pd
data=pd.read_csv('Real estate.csv')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [13]:
x_train=data.iloc[:,1 :-1]
y_train=data['Y house price of unit area']
# print(x_train)
x_train.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245

In [14]:
print('Kich thuoc cua x_train ',x_train.shape)
print('Kich thuoc cua y_train ',y_train.shape)

Kich thuoc cua x_train  (414, 6)
Kich thuoc cua y_train  (414,)

In [15]:
from sklearn.linear_model import LinearRegression as LR
model_ski= LR(fit_intercept=True)

In [19]:
import numpy as np
model_ski.fit(x_train,y_train)

LinearRegression()

In [20]:
print('a=',model_ski.coef_)
print('b=',model_ski.intercept_)

a= [ 5.14622746e+00 -2.69695448e-01 -4.48746107e-03  1.13327690e+00
  2.25472976e+02 -1.24236012e+01]
b= -14437.100802280538

In [26]:
X1=float(input("Nhap x1:"))
print("X1 :",X1)
X2=float(input("Nhap x2:"))
print("X2 :",X1)
X3=float(input("Nhap x3:"))
print("X3 :",X3)
X4=float(input("Nhap x4:"))
print("X4 :",X4)
X5=float(input("Nhap x5:"))
print("X5 :",X5)
X6=float(input("Nhap x6:"))
print("X6 :",X6)

X1 : 2012.833
X2 : 2012.833
X3 : 390.5684
X4 : 5.0
X5 : 24.97937
X6 : 121.54245

In [27]:
gia_nha=model_ski.predict([[X1,X2,X3,X4,X5,X6]])
print(gia_nha)

[46.13886467]

In [34]:
du_doan=model_ski.predict(x_train)

In [28]:
du_doan=model_ski.predict(x_train)

In [29]:
# import matplotlib.pyplot as plt
error= (y_train-du_doan)**2
error=np.sqrt(error.sum()/error.shape[0])# Sai số trung bình 
print("error : ",error)

error :  8.782466464602805

In [30]:
data['do_lech_so_voi_model']=np.abs(data['Y house price of unit area']-du_doan)
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area,do_lech_so_voi_model
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,9.268939
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,5.625734
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,1.496778
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,6.430359
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,3.038865

In [38]:
nguong=2*error
du_lieu_nhieu=data[data['do_lech_so_voi_model']>nguong]
du_lieu_nhieu.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area,do_lech_so_voi_model
16,17,2013.250,0.0,292.9978,6,24.97744,121.54458,70.1,19.357185
47,48,2013.583,35.9,640.7391,3,24.97563,121.53715,61.5,24.001663
105,106,2012.833,0.0,292.9978,6,24.97744,121.54458,71.0,22.403162
113,114,2013.333,14.8,393.2606,6,24.96172,121.53812,7.6,35.664355
126,127,2013.083,38.6,804.6897,4,24.97838,121.53477,62.9,27.655781